* {
  margin: 0px;
  padding: 0px;
}

i {
  margin: 15px;
  padding: 20px;
  border-radius: 50%;

  font-size: 2rem;

  color: #008568;
  background-color: #303136;
}

.tooltip {
  float: left;
  display: none;

  margin: 1.5rem 1rem;
  padding: 10px 20px;
  border-radius: 10px;

  color: #fff;
  background: #212226;
}

.nav:hover + .tooltip {
  display: block;
}

.fire {
  padding: 20px 24px;
  border-radius: 1rem;
  background: #008568;
  color: #fff;
}

.add {
  padding: 20px 22px;
}

.lightning {
  padding: 20px 24px;
}
